.filter-menu {
  position: absolute;
  width: 320px;
  height: 286px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  top: 70%;
  left: 0;
  z-index: 10;
}

.filter-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-right: 1rem;
}

.filter-menu-title{ 
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #424242;
}


.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  flex: 1;    
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
}

.clearAll {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #D7D7D7;
}

.clearAll:hover {
  color: #3399FF;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  margin-bottom: 0.5rem;
}

.filter-options {
  margin-bottom: 1rem;
}

.status-row {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 19px;
  margin-bottom: 25px;
  color: #424242;
}

.checkbox {
  width: 19px;
  height: 19px;
  padding-bottom: 5px;
}

.apply-btn {
  position: absolute;
  width: 90%;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  bottom: 1rem;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.separator {
  position: absolute;
  width: calc(100% - 2rem);
  height: 0;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  left: 1rem;
}