.container {
  padding: 1rem;
}

.title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.separator {
  height: 2px;
  background: linear-gradient(to right, grey, white);
  margin-bottom: 1rem;
}

.welcome {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
